h1{
    margin-bottom: 30px;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: #ff0070;
    border: solid;
    font-weight: bold;
    border-width: 2px;

}
input::placeholder {
    color: black;
    opacity: 1;
  }

button{
    margin-bottom: 20px;
    background-color: #ff0070;
    font-weight: bold;
    border: solid;
    border-width: 2px;
}

hr{
    margin-bottom: 15px;
}

body{
    background: rgb(238,174,202);
background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
